* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
}

.formContainer {
  margin: 0 15px 0 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Just for styling */
  background-color: rgba(184, 179, 179, 0.123); /* Optional: Background color */
  border-radius: 5px;
  justify-content: space-between;
  height: 500px;
  width: 400px;
}

img {
  width: 30%;
  align-self: center;
}

input {
  padding-left: 20px !important;
}

input,
button {
  padding: 7px;
}
.loginBtn {
  background-color: #9b59b6;
  color: white;
  font-size: large;
}

.orSpan {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #9b59b6,
    white 50%,
    white 50%,
    #9b59b6
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 center;
}

.sin_up_GOOGLE_Btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white !important;
  color: black !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.sin_up_GOOGLE_Btn img {
  background-color: white !important;
  width: 10%;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  margin-left: -50px;
  margin-right: -50px;
}

.sin_upAppleBtn {
  background-color: white;
  font-size: medium;
}
