* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: red;
}

.formContainer {
  margin: 0 15px 0 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Just for styling */
  background-color: white; /* Optional: Background color */
  border-radius: 5px; 
}
